// colors
// ------

$color--fg: #fff;
$color--bg: #111;

// typography
// ----------

$font-size--html: 16px;

$font-size--huge:  18em;
$font-size--large: 9em;

$font-family--sans-serif: sans-serif;
$font-family--manifesto:  "Manifesto", sans-serif;

$font-weight--normal: 400;

$line-height--tight: 1;
$line-height--base:  1.4;

// sizing and spacing
// ------------------

$min-width--md: 720px;
$max-width--sm: ($min-width--md - 1);

$v: $line-height--base * 1rem;

$gutter: 1.5rem;

$opacity--faded: 0.6;