// colors
// ------

$color--black: #222;
$color--white: #fff;

// typography
// ----------

$font-size--html: 16px;

$font-size--huge: 18em;

$font-family--sans-serif: sans-serif;
$font-family--manifesto:  "Manifesto", sans-serif;

$font-weight--normal: 400;

$line-height--tight: 1;
$line-height--base:  1.4;

// sizing and spacing
// ------------------

$v: $line-height--base * 1rem;

$gutter: 1.5rem;

