---
---

@charset "utf-8";

// imports
// -------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';

// base
// ----

*,
*:before,
*:after {
  @include box-sizing(inherit);
}
html {
  @include box-sizing(border-box);
  font-size: $font-size--html;
  // @include max-width($max-width--sm) {
  //   font-size: $font-size--html-sm;
  // }
}
body {
  font-family: $font-family--sans-serif;
  line-height: $line-height--base;
  @include antialias;
  overflow-x: hidden;
  color: $color--black;
  background: $color--white;
}
a {
  color: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
@include selection {
  color: $color--white;
  background: $color--blue;
}

// grid
// ----

.container {
  width: 100%;
  @include margin-center;
  padding-left: $gutter;
  padding-right: $gutter;
}
.row {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  @include flexbox;
  @include flex-wrap(wrap);
}
.col {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

// content
// -------

.main {
  margin-top: $v;
  margin-bottom: $v;
}
.info {
  margin-bottom: $v;
}
textarea {
  @include appearance(none);
  outline: none;
  padding: 0;
  border: 0;
  resize: none;
  color: inherit;
  background: inherit;
  width: 100%;
  font-size: 18em;
  font-family: $font-family--manifesto;
  // background: #eee; // TEMP
}
