---
---

@charset "utf-8";

// imports
// -------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';

// base
// ----

*,
*:before,
*:after {
  @include box-sizing(inherit);
}
html {
  @include box-sizing(border-box);
  font-size: $font-size--html;
}
body {
  font-family: $font-family--sans-serif;
  line-height: $line-height--base;
  overflow-x: hidden;
  color: $color--fg;
  background: $color--bg;
  width: 100%;
}
a {
  color: inherit;
  &:hover {
    opacity: $opacity--faded;
  }
}
@include selection {
  color: $color--bg;
  background: $color--fg;
}
.about {
  max-width: 24rem;
  padding: $gutter $gutter 0;
  margin-bottom: $v*2;
}
p {
  margin-bottom: $v;
}
.sample {
  padding: $gutter*2 $gutter;
  margin-bottom: $v*2;
  font-family: $font-family--manifesto;
  font-size: $font-size--huge;
  @include max-width($max-width--sm) {
    font-size: $font-size--large;
  }
  line-height: $line-height--tight;
  outline: none;
}
